.inputForm {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    align-items: center;
    width: 50%;
}

.inputForm > textarea {
    align-self: stretch;
    width: 100%;
}

.inputForm > input {
    margin: 10px;
    border-radius: 6px;
    background-color: #362d94;
    color: yellow;
    width: 99px;
    height: 30px;
}